name: App Build & Terraform Plan

on:
  pull_request:
  push:
    branches-ignore:
      - main

jobs:
  build-and-plan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.0

      - name: Docker build (no push)
        run: docker build -t packs-server:test .

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan
